
<footer class="footer-section">
    <div class="container">
        <div class="footer-bottom">
            <div class="footer-bottom-area">

                <ul class="links">
                    <li>
                        <a href="/about" >About</a>
                    </li>
<!--                    <li>-->
<!--                        <a href="#0">Terms Of Use</a>-->
<!--                    </li>-->
                </ul>

                <div class="dropup">
                  <i class="fa fa-external-link-square-alt" id="dropdownLink" aria-haspopup="true"  data-bs-toggle="dropdown" aria-expanded="false"></i>
                  <ul class="dropdown-menu" aria-labelledby="dropdownLink"
                  style="background-color: var(--surface-color); border: 1px solid #D2D2D2;" >
                      <li class="dropdown-item" ><a href="https://twitter.com/gamovibased"><i class="fab fa-twitter"></i> @gamovibased </a></li>
                      <li class="dropdown-item" ><a href="https://vk.com/movies_games"><i class="fab fa-vk"></i> @movies_games </a></li>
                      <li class="dropdown-item"  id="install" style="color: var(--font-color);"><i class="fa fa-shield-alt"></i> PWA </li>
                  </ul>
            </div>

            </div>
            <div>
                <p class="footer-copyright">© 2023 GAMOVIBASED. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
