# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*.pyc
*~
.DS_Store

.idea
.vscode

# virtualenv
env/
venv/
.venv

# cache
/.mypy_cache/
cache_django/
cache/
.djcache

# etc
etc/
src/backend/
build/

# dotenv
.env

# Translations
*.mo

# django stuff
settings_dev.py
local_settings.py
local.py
db.sqlite3
*.sqlite3
*.log
*.pot
src/res/media/images/
src/res/static/
/deploy/.db/postgresql_data/
