{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="{% if request.COOKIES.theme %}{{ request.COOKIES.theme }}{% else %}light{% endif %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover, maximum-scale=1.0, user-scalable=no">

    <title>{% block title %} GAMOVIBASED | movies based on video games{% endblock %}</title>
    <meta name="author" content="Barricade2">
    <meta name="keywords" content="movie based on video games, film based on video game, game adaptations, adaptations of games, game movies, game movie, game tv shows, adapting games">
    <meta name="description" content="GAMOVIBASED  Game Movie Database, movies based on video games, game adaptations, game-movies, game-to-movie, film adaptations of video games">
    <meta property="og:title" content="GAMOVIBASED | movies based on video games">
    <meta property="og:url" content="https://gamovibased.net/">
    <meta property="og:description" content="GAMOVIBASED - Game Movie Database, movie based on video games, game adaptations, game-movies">
    <link rel="icon" type="image/svg+xml" href="{%static "img/favicons/favicon.svg"%}" >
    <link rel="icon" type="image/png" sizes="32x32" href="{%static "img/favicons/favicon-32x32.png"%}">
    <link rel="mask-icon" href="{%static "img/favicons/favicon-safari.svg"%}" color="#000000">
    <!--  <link rel="shortcut icon" type="image/x-icon" href="{%static "img/favicons/favicon.ico"%}" /> -->
<!--
    <link rel="stylesheet" href="{%static "lib/fancybox/jquery.fancybox.css" %}" type="text/css"/>
-->
    <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
    -->
    {% block js-head %}
    {% endblock js-head %}

    {% block css %}
    {% endblock %}
</head>

<body>

    <!-- ========== Overlay/Scroll ========== -->
    <div class="overlay"></div>
    <a href="#0" class="scrollToTop">
        <i class="fas fa-angle-up"></i></a>
    <!-- ========== Overlay/Scroll - ! ========== -->

    <!-- ========== Header ========== -->
    {% include 'inc/_header.html' %}
    <!-- ========== Header - ! ========== -->

    {% block sidebar %} {% endblock %}

    {% block content %} {% endblock %}

    <!-- ========== Footer ========== -->
    {% include 'inc/_footer.html' %}
    <!-- ========== Footer - ! ========== -->

<!--<script>
(function () {
    const currentTheme = localStorage.getItem('theme');


        document.documentElement.setAttribute('data-theme', currentTheme);
})();
</script>-->
<!-- JS -->

<!--
<script src="{%static "lib/fancybox/fancybox.umd.js" %}"></script>
-->
<!--
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
-->
{% block js %}
{% endblock js %}
</body>
</html>